<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    {styles}
    <link rel="icon" href="/favicon.jpg" type="image/jpeg" />
    <title>{title} | xfnty's blog</title>
</head>
<body>
    <header>
        <p style="display: flex; flex-direction: row; justify-content: space-between;">
            <a href="/">&#128281; Go back</a>
            <!-- <a href="/">&#128213; Text in Russian</a> -->
        </p>
        <h1>{title}</h1>
        <p>{description}</p>
        {index}
    </header>

    <main id="markdown">
        {content}
    </main>

    <footer>
        &copy; <a href="https://github.com/xfnty" target="_blank">xfnty</a> 2025
    </footer>
</body>
</html>
