<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" href="/favicon.jpg" type="image/jpeg" />
    <title>xfnty's blog</title>
</head>
<body>
    <header>
        <p>
            Welcome &#128075;
        </p>
        <p>
            Here I write about things that interest me, like politics, pop culture and programming.
            Mostly to put my thoughts in order.
        </p>
    </header>

    <main>{articles}</main>

    <footer>
        &copy; <a href="https://github.com/xfnty" target="_blank">xfnty</a> 2025
    </footer>
</body>
</html>
