a[class~="article-link"] {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 1rem;
    align-items: center;
    color: var(--text-primary);
    margin-bottom: 1rem;
    --text-decoration: none;
}

a[class~="article-link"]:hover {
    --text-decoration: underline;
}

a[class~="article-link"] div {
    flex-grow: 1;
    overflow: hidden;
}

a[class~="article-link"] title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: var(--text-decoration);
}

a[class~="article-link"] p {
    color: var(--text-secondary);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

a[class~="article-link"] time {
    color: var(--text-secondary);
    white-space: nowrap;
    text-decoration: none;
}
