:root {
    --background-color: #fdfdfd;
    --code-background-color: #eee;
    --highlight-background-color: rgba(255, 220, 100, 0.25);
    --text-primary: #000;
    --text-secondary: #888;
    --font-size: 1.15rem;
    --font: sans-serif;
    --link-color: deepskyblue;
}

main > *, header > * {
    margin: 0 0 0.5lh 0;
}

body {
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
    color: var(--text-primary);
    font-family: var(--font);
    font-size: var(--font-size);
    background-color: var(--background-color);
    overflow-y: scroll;
}

header h1 {
    margin: 0.5lh 0;
}

footer {
    margin-top: 1.5lh;
    text-align: center;
}

main {
    margin-top: 1.5lh;
}

main h1 {
    margin-top: 1.5lh;
    font-size: 1.5rem;
}

ul, ol {
    padding: 0 0 0 2rem;
}

ul li + li, ol li + li {
    margin-top: 0.5lh;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:active {
    color: var(--link-color);
}
a:visited {
    color: var(--link-color);
}

main h1:target {
    animation: highlight-heading 2s;
}

@keyframes highlight-heading {
    0% {
        background-color: var(--highlight-background-color);
    }

    100% {
        background-color: none;
    }
}

.img {
    text-align: center;
}

img {
    width: 100%;
}

code, pre {
    background-color: var(--code-background-color);
}

p code {
    padding: 0.2rem 0.4rem;
    border-radius: 0.1rem;
}

pre {
    padding: 1rem;
    border-radius: 0.25rem;
    overflow-x: scroll;
}

summary {
    cursor: pointer;
}

a[class~="article-link"] {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 1rem;
    align-items: center;
    color: var(--text-primary);
    margin-bottom: 1rem;
}

a[class~="article-link"] div {
    flex-grow: 1;
    overflow: hidden;
}

a[class~="article-link"] title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a[class~="article-link"] p {
    color: var(--text-secondary);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a[class~="article-link"] time {
    white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222;
        --text-primary: #fff;
        --text-secondary: #999;
        --code-background-color: #333;
    }
}
